<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <title>Shoe Landing Page</title>
    <link rel="stylesheet" href="css/home.css">

</head>

<body>
    <div class="body-div">
        <nav>
            <div class="logo-img"><img src="/images/logo2.png" /></div>
            <div class="nav-menu-wrapper">
                <ul class="nav-menu">
                     
                    <a href="/products"> <li class="nav-item">products</li></a>
                    <a href="/servces"> <li class="nav-item">services</li></a>
                      <li class="nav-item">
                        <a href="/logme"><input type="button"class="login-btn" value="Login"></a>
                    </li>
                    <li class="nav-item">
                      <a href="/signUp"><input class="signup-btn" type="button" value="Sign Up" ></a>
                    </li>
                </ul>
                
            </div>
        </nav>
        <div class="header">
            <div class="content">
                <h1 class="heading">Get In and Go</h1>
                <h4 class="description">
                    Nike creates shoes that are quick and easy to get into, and more
                    hands-free. The easy-entry designs expand access and unlock benefits
                    for all athletes. From pinnacle FlyEase innovations to the wide
                    selection of easy on/off footwear, you can do more of what matters
                    most-play.
                </h4>
            </div>
            <img src="/images/nike1/1.png" class="product-img" />
        </div>
        <div class="variants">
            <div class="variant active one">
                <img src="/images/nike1/1.png" />
            </div>
            <div class="variant two">
                <img src="/images/nike2/1.png" />
            </div>
            <div class="variant three">
                <img src="/images/nike3/1.png" />
            </div>
        </div>
        <div class="images">
            <img src="/images/nike1/1.png" />
            <img src="/images/nike1/2.png" />
            <img src="/images/nike1/3.png" />
            <img src="/images/nike1/4.png" />
            <img src="/images/nike1/5.png" />
            <img src="/images/nike1/6.png" />
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>

<footer>
    <div class="footer-section">
        <h4>Find a Store</h4>
        <ul>
            <li><a href="#">Store Locator</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>Become a Member</h4>
        <ul>
            <li><a href="#">Join Now</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>Send Us Feedback</h4>
        <ul>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>Get Help</h4>
        <ul>
            <li><a href="#">Order Status</a></li>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Payment Options</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>Contact Us</h4>
        <ul>
            <li><a href="#">On Nike.com Inquiries</a></li>
            <li><a href="#">On All Other Inquiries</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>About Nike</h4>
        <ul>
            <li><a href="#">News</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Investors</a></li>
            <li><a href="#">Sustainability</a></li>
            <li><a href="#">India</a></li>
        </ul>
    </div>
</footer>
<div class="fs2 grid-container">
    <div class="grid-child">© 2023 Nike, Inc. All Rights Reserved</div>
    <div class="grid-child">
        <ul class="fs2-ul">
            <li><a href="#">Guides</a></li>
            <li><a href="#">Terms of Sale</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </div>
</div>

  {{!-- <script> --}}
     {{!-- function signUp(){ --}}
        {{!-- $.ajax({ --}}
            {{!-- url:'/signUp', --}}
            {{!-- method:'get', --}}
            {{!-- success:(response)=>{ --}}
                {{!-- if(response){ --}}
                    {{!-- //console.log(response) --}}
                {{!-- } --}}
            {{!-- } --}}
        {{!-- }) --}}
     {{!-- } --}}
  {{!-- </script> --}}
  <script src="js/home.js"></script>
</html>