<link rel="stylesheet" href="css/products.css">
<button class="mode-switch" title="Switch Theme">
  <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="36" height="36" viewBox="0 0 24 24">
    <defs></defs>
    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
  </svg>
</button>

<div class="container">
    {{#each data}}
  <div class="box">
    <h2 class="name">{{this.proname}}</h2>
    <a href="/buy/{{this._id}}" class="buy">Add to cart</a>
    <div class="circle"></div>
    <img class="product" src="/proImg/{{this._id}}.jpg" />
  </div>
   {{/each}}
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.1/vanilla-tilt.min.js"></script>
  <script>
    VanillaTilt.init(document.querySelectorAll(".box"), {
      max: 15,
      speed: 300,
      easing: "cubic-bezier(.03,.98,.52,.99)",
      scale: 1.05,
    });
  </script>
  <script src="js/products.js"></script>
