
<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" href="css/successfully.css">
    </head>
    <body>
    <div class="contanier">
        <div class="main">
          <div class="road"  >
           <ul>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
             <li></li>
           </ul>   
           <div class="bus">
           <div class="back">
               <div class="back1door"></div>
               <div class="back2door"></div>
               <div class="join"></div>
           </div>
               <div class="front">
                   <div class="black"></div>
                   <div class="light1"></div>
               <div class="light2"></div>
               </div>   
               </div>
            <div class="gift"></div>
           </div>
       </div>
    </div>
    </body>
</html>